accelerate
datasets<=3.6.0
evaluate
isanlp_rst @ git+https://github.com/tchewik/isanlp_rst.git@master
isanlp @ git+https://github.com/iinemo/isanlp.git
pydantic
rich
scikit-learn
sentsplit
tqdm
torch
torchaudio
torchvision
transformers
